#fixtures {
    min-width: 40%;
    align-content: center;
    text-align: center;
    margin: 25px 0;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    #fixtures {
        width: 90%;
    }
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#pagination span {
    margin: 0 10px;
    padding: 10px 10px;
}

#fixtures-table {
    overflow: auto;
    width: 80%;
    margin: auto;
}

#fixtures-table th {
    height: 25px;
}

#fixtures-table td {
    display: table-cell;
    height: 60px;
    width: 33%;
    vertical-align: middle;
    box-sizing: border-box;
}

.team-logo {
    max-height: 50px;
}

.ft {
    background-color: gainsboro;
}

.result {
    border: 2px solid green;
}